@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #A57865;

  --font-family-sans: 'Inter', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
}
